@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_InstructorLayout";
}
<div class="container-fluid px-4">
    <div class="row mt-4">
        <div class="col-6"><h1>Dashboard</h1></div>
        <div class="col-6">
            <ol class="breadcrumb mb-4 bg-white float-right">
                <li class="breadcrumb-item"><a href="/instructor/">Instructor</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>