@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

    @section Scripts{
        <script src="~/js/Student/Content.js" asp-append-version="true"></script>
    }

}

<div id="registerModal"></div>
