@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

    @section Scripts{
        <script src="~/js/Student/Content.js" asp-append-version="true"></script>
    }

}

<div class="container-fluid p-0">
    <div class="row mt-lg-5" id="subContentCourse">
    </div>

    <div class=" mt-4" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Sub Content 1
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-md-center">
                    <div class="row">
                        <video class="dt-body-center" width="420" height="280" controls>
                            <source src="https://www.youtube.com/watch?v=5HaJPpihkBI" type="video/mp4">
                        </video>
                    </div>
                    <div class="row ml-lg-auto">
                        Introduction
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sub Content 2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    please login for next content
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sub Content 2
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    please login for next content
                </div>
            </div>
        </div>
    </div>
</div>

@*modal buy course*@ 
<div class="modal" tabindex="-1" role="dialog" id="buyCourse">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>are you sure for buy this course</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sure</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>