@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
    @section Scripts{
       <script src="~/js/Admin/dashboard.js" asp-append-version="true"></script>
    }
}

<main>
    
</main>

