@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminWelcomeLayout";
}

<div class="text-center" style="margin:auto auto">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/admin/login">Go to admin login page</a></p>
    <p><a href="/admin/dashboard">Straight to dashboard!</a></p>
</div>