@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
     @section Scripts{
       <script src="~/js/Admin/users.js" asp-append-version="true"></script>
    }
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Users</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">admin/users</li>
        </ol>
        @*<div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Genders Pie Chart
                    </div>
                    <div class="card-body"><div id="gendersChart" style="width:100%; height:20rem"></div></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><div id="universitiesChart" style="width:100%; height:20rem"></div></div>
                </div>
            </div>
        </div>*@
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                User Master Data
            </div>
            <div class="card-body ">
                <div style="text-align: center">
                    <button id="addEmp" class="btn btn-primary ml-auto mr-auto" data-toggle="modal" data-target="#adminRegistration">Register New Admin</button>
                </div>
                <table id="TabelMasterData" class="display table table-bordered table-hover" style="width: 100%; text-align:center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>NAMA LENGKAP</th>
                            <th>JENIS KELAMIN</th>
                            <th>TANGGAL LAHIR</th>
                            <th>NOMOR TELEPON</th>
                            <th>EMAIL</th>
                            <th>PERAN</th>
                            <th>OPSI</th>
                        </tr>
                    </thead>
                    <tbody class="MasterData">
                    </tbody>
                </table>
                 
            </div> 
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Instructor Signups
            </div>
            <div class="card-body" style="overflow-x: scroll">
                <table id="StudentTable" class="display table table-bordered table-hover" style="width: 100%; text-align:center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>NAMA LENGKAP</th>
                            <th>JENIS KELAMIN</th>
                            <th>TANGGAL LAHIR</th>
                            <th>NOMOR TELEPON</th>
                            <th>EMAIL</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody class="MasterData">
                    </tbody>
                </table>
                @*<button id="addEmp" class="btn btn-primary" data-toggle="modal" data-target="#registrationForm">Register</button>*@
            </div>
        </div>

    </div>
</main>

<!-- Modal Register Admin-->
<div class="modal fade" id="adminRegistration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UserRegistrationLabel">New Admin Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="AddNewAdmin()" class="needs-validation">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="firstName">Nama Awal</label>
                            <input id="firstName" type="text" class="form-control" placeholder="Nama awal" required>
                            <div class="valid-feedback">
                                ✔
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="lastName">Nama Akhir</label>
                            <input id="lastname" type="text" class="form-control" placeholder="Nama akhir" required>
                            <div class="valid-feedback">
                                ✔
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="birthDate">Tanggal Lahir</label>
                            <input id="birthDate" type="date" class="form-control" placeholder="Tanggal lahir" required>
                            <div class="invalid-feedback">
                                Mohon pilih tanggal lahir User
                            </div>
                        </div>
                        <div class="col-md-3 mb-3 form-group">
                            <label for="gender">Jenis Kelamin</label>
                            <select id="gender" class="custom-select mr-sm-2" required>
                                <option selected value="">Pilih...</option>
                                <option type="number" value=0>Male</option>
                                <option type="number" value=1>Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Mohon pilih jenis kelamin user
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="phone">Nomor Telepon</label>
                            <input id="phone" type="text" class="form-control" placeholder="Nomor Telepon" required>
                            <div class="invalid-feedback">
                                Mohon masukkan nomor telepon user
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="email">Email</label>
                            <input id="email" type="text" class="form-control" placeholder="Email" required>
                            <div class="invalid-feedback">
                                Mohon masukkan email user
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Mohon masukkan password akun user
                            </div>
                        </div>
                    </div>
                    @*<div class="form-row">
                        <div class="col-4 ml-auto mr-auto form-group" style="display: none">
                            <label for="role">Peran</label>
                            <select id="role" class="custom-select" value="1" required>
                                <option selected value="">Pilih...</option>
                                <option type="number" value=1>Admin</option>
                                <option type="number" value=2>Instruktur</option>
                                <option type="number" value=3>Pelajar</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="modal-footer">
                        <button class="btn btn-primary d-block ml-auto" type="submit">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- edit user modal-->
<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UserRegistrationLabel">Edit User #</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <form onsubmit="Update()" class="needs-validation">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="editFName">Nama Awal</label>
                            <input id="editFName" type="text" class="form-control" placeholder="Nama awal" required>
                            <div class="valid-feedback">
                                ✔
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="editLName">Nama Akhir</label>
                            <input id="editLName" type="text" class="form-control" placeholder="Nama akhir" required>
                            <div class="valid-feedback">
                                ✔
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="editBDate">Tanggal Lahir</label>
                            <input id="editBDate" type="date" class="form-control" placeholder="Tanggal lahir" required>
                            <div class="invalid-feedback">
                                Mohon pilih tanggal lahir User
                            </div>
                        </div>
                        <div class="col-md-3 mb-3 form-group">
                            <label for="editGender">Jenis Kelamin</label>
                            <select id="editGender" class="custom-select mr-sm-2" required>
                                <option selected value="">Pilih...</option>
                                <option type="number" value=0>Laki-laki</option>
                                <option type="number" value=1>Perempuan</option>
                            </select>
                            <div class="invalid-feedback">
                                Mohon pilih jenis kelamin user
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="editPhone">Nomor Telepon</label>
                            <input id="editPhone" type="text" class="form-control" placeholder="Nomor Telepon" required>
                            <div class="invalid-feedback">
                                Mohon masukkan nomor telepon user
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="editEmail">Email</label>
                            <input id="editEmail" type="text" class="form-control" placeholder="Email" required>
                            <div class="invalid-feedback">
                                Mohon masukkan email user
                            </div>
                        </div>
                    </div>
                   @* <div class="form-row">
                        <div class="col-4 ml-auto mr-auto form-group">
                            <label for="editRole">Peran</label>
                            <select id="editRole" class="custom-select">
                                <option selected value="">Pilih...</option>
                                <option type="number" value=1>Admin</option>
                                <option type="number" value=2>Instruktur</option>
                                <option type="number" value=3>Pelajar</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="form-row" style="display:none">
                        <div class="col-md-4 mb-3">
                            <label for="editID">ID</label>
                            <input id="editID" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary d-block ml-auto" type="submit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>